<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On


	 

	RewriteRule ^action/([a-zA-Z0-9]+)/$ index.php?action=$1
	RewriteRule ^activate/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?action=activate&username=$1&code=$2
	RewriteRule ^profile/([a-zA-Z0-9]+)/$ index.php?action=profile&username=$1
	RewriteRule ^profile/([a-zA-Z0-9]+)$ index.php?action=profile&username=$1
	RewriteRule ^404$ index.php?action=404
</IfModule>